/* إخفاء السهم الافتراضي */
.arrowSelect {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #f1f1f1;
    padding: 10px;
    padding-right: 30px; /* إضافة مساحة للسهم */
    border: 1px solid #ccc;
    border-radius: 5px;
    background-image: url('https://w1.pngwing.com/pngs/459/66/png-transparent-arrow-graphic-design-dropdown-list-button-blue-azure-line-electric-blue-symbol-thumbnail.png');
    background-repeat: no-repeat;
    background-position: right -2px center; /* تحريك السهم لليسار */
    background-size: 30px;
  }
  
  .arrowSelect:focus {
    outline: none;
    border-color: #007bff;
  }
  